# SD202 TP2 - Normalization and SQL

The objectives of this TP are the following:

1. Apply normalization 1NF -> 2NF -> 3NF -> BCNF
2. Perform SQL queries on the normalized database

In this lab, we are going to use a database containing wine information related to 'production' and 'sales'. 

Production <---> Wine <---> Sales

First, we are going to normalize it, and after that, we are going to write some SQL queries.

The __wine.db__ database contains the following tables:

+-----------------------------------------+
|                 Master1                 |
+-----------------------------------------+
| NV:      Wine number                    |
| CRU:     Vineyard or group of vineyards |
| DEGRE:   Alcohol content                |
| MILL:    Vintage year                   |
| QTE:     Number of bottles harvested    |
| NP:      Producer number                |
| NOM:     Producer's last name           |
| PRENOM:  Producer's first name          |
| REGION:  Wine growing region            |
+-----------------------------------------+

+-------------------------------------------------------------------+
|                              Master2                              |
+-------------------------------------------------------------------+
| NV:      Wine number                                              |
| CRU:     Vineyard or group of vineyards                           |
| DEGRE:   Alcohol content                                          |
| MILL:    Vintage year                                             |
| DATES:   Buying date                                              |
| LIEU:    Place where the wine was sold                            |
| QTE:     Number of bottles bought                                 |
| NB:      Client (buveur) number                                   |
| NON:     Client's last name                                       |
| PRENOM:  Client's first name                                      |
| TYPE:    Type of client by volume of purchases                    |
| REGION:  Administrative Region (different to wine growing region) |
+-------------------------------------------------------------------+

We need to prepare the SQL environment:

In [26]:
import sqlite3

In [27]:
def printSchema(connection):
    ### Source: http://stackoverflow.com/a/35092773/4765776
    for (tableName,) in connection.execute(
        """
        select NAME from SQLITE_MASTER where TYPE='table' order by NAME;
        """
    ):
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [28]:
conn = sqlite3.connect('wine.db')
c = conn.cursor()
print("Database schema:")
printSchema(conn)           # An usefull way to viualize the content of the database

Database schema:
Client:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(NUM)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
Place:
  0: LIEU(TEXT)
  1: REGION(TEXT)
Producer:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
Quantity:
  0: NV(NUM)
  1: NP(NUM)
  2: QTE(NUM)
Sale:
  0: NV(NUM)
  1: NB(NUM)
  2: DATES(NUM)
  3: LIEU(TEXT)
  4: QTE(NUM)
achats:
  0: NV(NUM)
  1: NB(NUM)
  2: QTE(NUM)
  3: DATES(NUM)
  4: LIEU(TEXT)
buveurs:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
locations:
  0: LIEU(TEXT)
  1: REGION(TEXT)
producteurs:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
quantite:
  0: NV(NUM)
  1: NP(NUM)
  2: QTE(NUM)
vins:
  0: NV(NUM)
  1: CRU(TEXT)
  2: MILL(NUM)
  3: DEGRE(NUM)

We recommend inline __%sql__ as an alternative to sqlite3 package

In [29]:
%load_ext sql
%sql sqlite:///wine.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

u'Connected: None@wine.db'

Now, we can see the content of the tables using SQL queries:

In [30]:
%sql SELECT DISTINCT NV, CRU, MILL, DEGRE FROM MASTER1;

Done.

[(None, None, None, None),
 (1, u'Mercurey', 1980, 11.5),
 (2, u'Julienas', 1974, 11.3),
 (3, u'Savigny les Beaunes', 1978, 12.1),
 (4, u'Mercurey', 1980, 10.9),
 (5, u'Pommard', 1976, 11.7),
 (6, u'Mercurey', 1981, 11.2),
 (7, u'Grands Echezeaux', 1968, 11.7),
 (8, u'Cotes de Beaune Villages', 1975, 12.3),
 (9, u'Chapelle Chambertin', 1973, 11.9),
 (10, u'Beaujolais Villages', 1979, 11.8),
 (11, u'Sylvaner', 1982, 11.2),
 (12, u'Gentil', 1975, 10.7),
 (13, u'Cotes du Rhone', 1968, 12.3),
 (14, u'Chateau Chalon', 1978, 10.9),
 (15, u'Cote de Brouilly', 1973, 11.9),
 (16, u'Meursault', 1980, 12.1),
 (17, u'Meursault', 1975, 11.4),
 (18, u'Chambolle Musigny', 1968, 12.3),
 (19, u'Clos du roi', 1972, 11.2),
 (20, u'Cote de Brouilly', 1980, 12.1),
 (21, u'Cotes de Nuits', 1978, None),
 (22, u'Savigny les Beaunes', 1974, None),
 (23, u'Pommard', 1972, None),
 (24, u'Cotes de Beaune Villages', 1971, 12.1),
 (25, u'Chapelle Chambertin', 1968, 10.5),
 (26, u'Chateau Corton Grancey', 1980, None),
 (27, u'Puligny Montrachet', 1974, 11),
 (28, u'Volnay', 1980, 11),
 (29, u'Corton', 1972, 11.6),
 (30, u'Bourgogne Passe Tout Grains', 1979, 12),
 (31, u'Monthelie', 1968, 11.4),
 (32, u'Pouilly Vinzelles', 1968, 12.3),
 (33, u'Santenay', 1972, 12),
 (34, u'Montagny', 1978, 11.2),
 (35, u'Auxey Duresses', 1914, 11.3),
 (36, u'Chorey les Beaunes', 1955, 11),
 (37, u'Savigny les Beaunes', 1978, 10),
 (38, u'Savigny les Beaunes', 1977, 11),
 (39, u'Savigny les Beaunes', 1973, None),
 (40, u'Richebourg', 1943, 12),
 (41, u'Clairette de Die', 1976, 12),
 (42, u'Beaujolais Primeur', 1983, 12),
 (43, u'Fleurie', 1980, 11.4),
 (44, u'Moulin a vent', 1983, None),
 (45, u'Chiroubles', 1983, None),
 (46, u'Chiroubles', 1983, 11),
 (47, u'Chiroubles', 1978, 11),
 (48, u'Cote de Brouilly', 1899, 12),
 (49, u'Morgon', 1984, 12),
 (50, u'Chenas', 1984, 11.5),
 (51, u'Chenas', 1975, 10),
 (52, u'Brouilly', 1975, None),
 (53, u'Beaujolais Villages', 1975, None),
 (54, u'Beaujolais Villages', 1976, 10.5),
 (55, u'Beaujolais Villages', 1978, 12.1),
 (56, u'Saint Amour', 1974, None),
 (57, u'Crozes Hermitage', 1974, 12.1),
 (58, u'Crozes Hermitage', 1975, 12.5),
 (59, u'Crozes - Hermitage', 1972, 12.3),
 (60, u'Crozes-Hermitage', 1983, 11),
 (61, u'Hermitage', 1979, 12),
 (62, u'Gigondas', 1978, 11),
 (63, u'Coteaux du Tricastin', 1978, 10),
 (64, u'Coteaux du Tricastin', 1974, 11),
 (65, u'Rochgrande', 1968, 10.8),
 (66, u'Tavel', 1968, 11),
 (67, u'Gewurztraminer', 1968, 12.5),
 (68, u'Riesling', 1962, 14),
 (69, u"Tokay d'Alsace", 1982, 11),
 (70, u'Sylvaner', 1982, 11),
 (71, u'Palette', 1981, 11),
 (72, u'Cassis', 1978, 10),
 (73, u'Bellet', 1976, 11),
 (74, u'Arbois', 1980, 12),
 (75, u'Arbois', 1976, 11),
 (76, u'Chateau Chalon', 1976, 12),
 (77, u'Etoile', 1979, 11),
 (78, u'Etoile', 1980, 12),
 (79, u'Seyssel', 1980, 11),
 (80, u'Seyssel', 1980, 11),
 (81, u'Cornas', 1980, 11.1),
 (82, u'Cornas', 1980, 11),
 (83, u'Saint Amour', 1980, 10),
 (84, u'Rasteau', 1980, 10),
 (85, u'Tavel', 1980, 11),
 (86, u'Tavel', 1980, 11),
 (87, u'Cotes de Provence', 1980, None),
 (88, u'Cotes de Provence', 1976, 10),
 (89, u'Cotes de Provence', 1969, 11),
 (90, u'Palette', 1969, 11),
 (91, u'Cassis', 1979, 11),
 (92, u'Coteaux de Pierevert', 1967, None),
 (93, u'Blanquette de Limoux', 1978, None),
 (94, u'Cotes du Rousillon', 1978, None),
 (95, u'Cotes du Rousillon', 1978, 12),
 (96, u'Saint Chinian', 1976, 11),
 (97, u'Saint Chinian', 1976, 11),
 (98, u'Corbieres', 1978, 10),
 (99, u'Cote Rotie', 1994, 13),
 (100, u'Seyssel', 1974, 11),
 (101, u'Saint Veran', 1973, 12.5),
 (107, u'Sancerre', 1998, 14)]

# PART I: Database normalization

The first task on this TP is the normalization of the wine data. In its current state both tables Master1 and Master2 are in the First Normal Form (1NF) and suffer from data redundancy, update, deletion and insertion anomalies.

__1.1__ Convert table Master1 to the Second Normal Form (2NF), Third Normal Form (3NF) and Boyce-Codd Normal Form(BCNF).
* Explain your answer
* List functional dependencies
* Describe the schema of new tables and how they relate

In [31]:
%sql SELECT DISTINCT COUNT(*) AS nbr_doublon, NP, NP FROM MASTER1 GROUP BY NP, NP HAVING   COUNT(*) > 1;

Done.

[(6, None, None),
 (3, 1, 1),
 (4, 2, 2),
 (2, 4, 4),
 (5, 5, 5),
 (2, 7, 7),
 (2, 9, 9),
 (3, 10, 10),
 (2, 11, 11),
 (3, 12, 12),
 (2, 13, 13),
 (2, 14, 14),
 (2, 15, 15),
 (2, 24, 24),
 (2, 25, 25),
 (2, 27, 27),
 (2, 30, 30),
 (6, 38, 38),
 (4, 40, 40),
 (2, 42, 42),
 (3, 43, 43),
 (3, 45, 45),
 (5, 50, 50),
 (4, 52, 52),
 (3, 55, 55),
 (3, 60, 60),
 (3, 70, 70),
 (5, 72, 72),
 (2, 76, 76),
 (3, 79, 79),
 (3, 80, 80),
 (2, 82, 82),
 (4, 85, 85),
 (4, 86, 86),
 (2, 89, 89),
 (4, 90, 90),
 (4, 93, 93),
 (6, 95, 95),
 (2, 98, 98),
 (2, 99, 99)]

### FD
* (NP, NV) is primary key because as the previous query shows the is a unicity.
* (NP, NV) --> NV, CRU, DEGRE, MILL, QTE, NP, NOM, PRENOM, REGION
* NV --> CRU, DEGRE, MILL
* NP --> NOM, PRENOM, REGION

+-----------------------------------------+
|                Producer                 |
+-----------------------------------------+
| NP:      Producer number                |
| NOM:     Producer's last name           |
| PRENOM:  Producer's first name          |
| REGION:  Wine growing region            |
+-----------------------------------------+

+----------------------------------------------+
|                     Wine                     |
+----------------------------------------------+
| NV:      Wine number                         |
| CRU:     Vineyard or group of vineyards      |
| DEGRE:   Alcohol content                     |
| MILL:    Vintage year                        |
+----------------------------------------------+

+----------------------------------------------+
|                     Quantity                 |
+----------------------------------------------+
| NV:      Wine number                         |  
| NP:      Producer number                     |
| QTE:     Number of bottles bought            |
+----------------------------------------------+

__1.2__ Convert table Master2 to the Second Normal Form (2NF), Third Normal Form (3NF) and Boyce-Codd Normal Form(BCNF).
* Explain your answer
* List functional dependencies
* Describe the schema of new tables and how they relate

In [32]:
%sql SELECT DISTINCT COUNT(*) AS nbr_doublon, NV, NB, DATES, LIEU FROM MASTER2 GROUP BY NV, NB, DATES, LIEU HAVING   COUNT(*) > 1;

Done.

[]

(NV, NB, DATES, LIEU) is primary key

FD :
 
(NV, NB, DATES, LIEU) --> NV, CRU, DEGRE, MILL, DATES, LIEU, QTE, NB, NON, PRENOM, TYPE, REGION
NV --> CRU, DEGRE, MILL
NB --> NON, PRENOM, TYPE
LIEU --> REGION

+-------------------------------------------------------------------+
|                              Master2                              |
+-------------------------------------------------------------------+
| NV:      Wine number                                              |
| CRU:     Vineyard or group of vineyards                           |
| DEGRE:   Alcohol content                                          |
| MILL:    Vintage year                                             |
| DATES:   Buying date                                              |
| LIEU:    Place where the wine was sold                            |
| QTE:     Number of bottles bought                                 |
| NB:      Client (buveur) number                                   |
| NON:     Client's last name                                       |
| PRENOM:  Client's first name                                      |
| TYPE:    Type of client by volume of purchases                    |
| REGION:  Administrative Region (different to wine growing region) |
+-------------------------------------------------------------------+

+-------------------------------------------------------------------+
|                              Wine                                 |
+-------------------------------------------------------------------+
| NV:      Wine number                                              |
| CRU:     Vineyard or group of vineyards                           |
| DEGRE:   Alcohol content                                          |
| MILL:    Vintage year                                             |
+-------------------------------------------------------------------+

+-------------------------------------------------------------------+
|                              Client                               |
+-------------------------------------------------------------------+
| NB:      Client (buveur) number                                   |
| NOM:     Client's last name                                       |
| PRENOM:  Client's first name                                      |
| TYPE:    Type of client by volume of purchases                    |
+-------------------------------------------------------------------+

+-------------------------------------------------------------------+
|                              Sale                                 |
+-------------------------------------------------------------------+
| NV:      Wine number                                              |
| DATES:   Buying date                                              |
| LIEU:    Place where the wine was sold                            |
| QTE:     Number of bottles bought                                 |
| NB:      Client (buveur) number                                   |
+-------------------------------------------------------------------+

+-------------------------------------------------------------------+
|                              Place                                |
+-------------------------------------------------------------------+
| LIEU:    Place where the wine was sold                            |
| REGION:  Administrative Region (different to wine growing region) |
+-------------------------------------------------------------------+

Now, we need to split the data from Master1 and Master2 into new tables. A table can be created from the result of a query. In the following example we will create a new table "dummy" to store the different values of alcohol content.

In [33]:
%sql DROP TABLE IF EXISTS dummy;

# Create dummy table
%sql CREATE TABLE dummy AS \
SELECT DISTINCT DEGRE \
FROM MASTER1;

print("\nContent of the database")
printSchema(conn)

print("\nContent of dummy")
%sql SELECT * FROM dummy

Done.
Done.

Content of the database
Client:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(NUM)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
Place:
  0: LIEU(TEXT)
  1: REGION(TEXT)
Producer:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
Quantity:
  0: NV(NUM)
  1: NP(NUM)
  2: QTE(NUM)
Sale:
  0: NV(NUM)
  1: NB(NUM)
  2: DATES(NUM)
  3: LIEU(TEXT)
  4: QTE(NUM)
achats:
  0: NV(NUM)
  1: NB(NUM)
  2: QTE(NUM)
  3: DATES(NUM)
  4: LIEU(TEXT)
buveurs:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
dummy:
  0: DEGRE(NUM)
locations:
  0: LIEU(TEXT)
  1: REGION(TEXT)
producteurs:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
quantite:
  0: NV(NUM)
  1: NP(NUM)
  2: QTE(NUM)
vins:
  0: NV(NUM)
  1: CRU(TEXT)
  2: MILL(NUM)
  3: DEGRE(NUM)

Content of dummy
Done.

[(None,),
 (11.5,),
 (11.3,),
 (12.1,),
 (10.9,),
 (11.7,),
 (11.2,),
 (12.3,),
 (11.9,),
 (11.8,),
 (10.7,),
 (11.4,),
 (10.5,),
 (11,),
 (11.6,),
 (12,),
 (10,),
 (12.5,),
 (10.8,),
 (14,),
 (11.1,),
 (13,)]

In [34]:
# Remove dummy table
%sql DROP TABLE IF EXISTS dummy;

Done.

[]

__1.3__ Create the new tables from Master1:

In [40]:
%sql DROP TABLE IF EXISTS Wine;
%sql DROP TABLE IF EXISTS Producer;
%sql DROP TABLE IF EXISTS Quantity;


# Create Wine table
%sql CREATE TABLE Wine AS SELECT DISTINCT NV, CRU, DEGRE, MILL FROM MASTER1;
%sql CREATE TABLE Producer AS SELECT DISTINCT NP, NOM, PRENOM, REGION FROM MASTER1;
%sql CREATE TABLE Quantity AS SELECT DISTINCT NV, NP, QTE FROM MASTER1;


print("\nContent of the database")
printSchema(conn)

print("\nContent of Wine")
%sql SELECT * FROM Wine

Done.
Done.
Done.
Done.
Done.
Done.

Content of the database
Client:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(NUM)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
Place:
  0: LIEU(TEXT)
  1: REGION(TEXT)
Producer:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
Quantity:
  0: NV(NUM)
  1: NP(NUM)
  2: QTE(NUM)
Sale:
  0: NV(NUM)
  1: NB(NUM)
  2: DATES(NUM)
  3: LIEU(TEXT)
  4: QTE(NUM)
Wine:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
achats:
  0: NV(NUM)
  1: NB(NUM)
  2: QTE(NUM)
  3: DATES(NUM)
  4: LIEU(TEXT)
buveurs:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
locations:
  0: LIEU(TEXT)
  1: REGION(TEXT)
producteurs:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
quantite:
  0: NV(NUM)
  1: NP(NUM)
  2: QTE(NUM)
vins:
  0: NV(NUM)
  1: CRU(TEXT)
  2: MILL(NUM)
  3: DEGRE(NUM)

Content of Wine
Done.

[(None, None, None, None),
 (1, u'Mercurey', 11.5, 1980),
 (2, u'Julienas', 11.3, 1974),
 (3, u'Savigny les Beaunes', 12.1, 1978),
 (4, u'Mercurey', 10.9, 1980),
 (5, u'Pommard', 11.7, 1976),
 (6, u'Mercurey', 11.2, 1981),
 (7, u'Grands Echezeaux', 11.7, 1968),
 (8, u'Cotes de Beaune Villages', 12.3, 1975),
 (9, u'Chapelle Chambertin', 11.9, 1973),
 (10, u'Beaujolais Villages', 11.8, 1979),
 (11, u'Sylvaner', 11.2, 1982),
 (12, u'Gentil', 10.7, 1975),
 (13, u'Cotes du Rhone', 12.3, 1968),
 (14, u'Chateau Chalon', 10.9, 1978),
 (15, u'Cote de Brouilly', 11.9, 1973),
 (16, u'Meursault', 12.1, 1980),
 (17, u'Meursault', 11.4, 1975),
 (18, u'Chambolle Musigny', 12.3, 1968),
 (19, u'Clos du roi', 11.2, 1972),
 (20, u'Cote de Brouilly', 12.1, 1980),
 (21, u'Cotes de Nuits', None, 1978),
 (22, u'Savigny les Beaunes', None, 1974),
 (23, u'Pommard', None, 1972),
 (24, u'Cotes de Beaune Villages', 12.1, 1971),
 (25, u'Chapelle Chambertin', 10.5, 1968),
 (26, u'Chateau Corton Grancey', None, 1980),
 (27, u'Puligny Montrachet', 11, 1974),
 (28, u'Volnay', 11, 1980),
 (29, u'Corton', 11.6, 1972),
 (30, u'Bourgogne Passe Tout Grains', 12, 1979),
 (31, u'Monthelie', 11.4, 1968),
 (32, u'Pouilly Vinzelles', 12.3, 1968),
 (33, u'Santenay', 12, 1972),
 (34, u'Montagny', 11.2, 1978),
 (35, u'Auxey Duresses', 11.3, 1914),
 (36, u'Chorey les Beaunes', 11, 1955),
 (37, u'Savigny les Beaunes', 10, 1978),
 (38, u'Savigny les Beaunes', 11, 1977),
 (39, u'Savigny les Beaunes', None, 1973),
 (40, u'Richebourg', 12, 1943),
 (41, u'Clairette de Die', 12, 1976),
 (42, u'Beaujolais Primeur', 12, 1983),
 (43, u'Fleurie', 11.4, 1980),
 (44, u'Moulin a vent', None, 1983),
 (45, u'Chiroubles', None, 1983),
 (46, u'Chiroubles', 11, 1983),
 (47, u'Chiroubles', 11, 1978),
 (48, u'Cote de Brouilly', 12, 1899),
 (49, u'Morgon', 12, 1984),
 (50, u'Chenas', 11.5, 1984),
 (51, u'Chenas', 10, 1975),
 (52, u'Brouilly', None, 1975),
 (53, u'Beaujolais Villages', None, 1975),
 (54, u'Beaujolais Villages', 10.5, 1976),
 (55, u'Beaujolais Villages', 12.1, 1978),
 (56, u'Saint Amour', None, 1974),
 (57, u'Crozes Hermitage', 12.1, 1974),
 (58, u'Crozes Hermitage', 12.5, 1975),
 (59, u'Crozes - Hermitage', 12.3, 1972),
 (60, u'Crozes-Hermitage', 11, 1983),
 (61, u'Hermitage', 12, 1979),
 (62, u'Gigondas', 11, 1978),
 (63, u'Coteaux du Tricastin', 10, 1978),
 (64, u'Coteaux du Tricastin', 11, 1974),
 (65, u'Rochgrande', 10.8, 1968),
 (66, u'Tavel', 11, 1968),
 (67, u'Gewurztraminer', 12.5, 1968),
 (68, u'Riesling', 14, 1962),
 (69, u"Tokay d'Alsace", 11, 1982),
 (70, u'Sylvaner', 11, 1982),
 (71, u'Palette', 11, 1981),
 (72, u'Cassis', 10, 1978),
 (73, u'Bellet', 11, 1976),
 (74, u'Arbois', 12, 1980),
 (75, u'Arbois', 11, 1976),
 (76, u'Chateau Chalon', 12, 1976),
 (77, u'Etoile', 11, 1979),
 (78, u'Etoile', 12, 1980),
 (79, u'Seyssel', 11, 1980),
 (80, u'Seyssel', 11, 1980),
 (81, u'Cornas', 11.1, 1980),
 (82, u'Cornas', 11, 1980),
 (83, u'Saint Amour', 10, 1980),
 (84, u'Rasteau', 10, 1980),
 (85, u'Tavel', 11, 1980),
 (86, u'Tavel', 11, 1980),
 (87, u'Cotes de Provence', None, 1980),
 (88, u'Cotes de Provence', 10, 1976),
 (89, u'Cotes de Provence', 11, 1969),
 (90, u'Palette', 11, 1969),
 (91, u'Cassis', 11, 1979),
 (92, u'Coteaux de Pierevert', None, 1967),
 (93, u'Blanquette de Limoux', None, 1978),
 (94, u'Cotes du Rousillon', None, 1978),
 (95, u'Cotes du Rousillon', 12, 1978),
 (96, u'Saint Chinian', 11, 1976),
 (97, u'Saint Chinian', 11, 1976),
 (98, u'Corbieres', 10, 1978),
 (99, u'Cote Rotie', 13, 1994),
 (100, u'Seyssel', 11, 1974),
 (101, u'Saint Veran', 12.5, 1973),
 (107, u'Sancerre', 14, 1998)]

__1.4__ Create the new tables from Master2:

In [41]:
%sql DROP TABLE IF EXISTS Client;
%sql DROP TABLE IF EXISTS Sale;
%sql DROP TABLE IF EXISTS Place;

# Wine already exists

# Creation of tables
%sql CREATE TABLE Client AS SELECT DISTINCT NB, NOM, PRENOM, TYPE FROM MASTER2;
%sql CREATE TABLE Sale AS SELECT DISTINCT NV, NB, DATES, LIEU, QTE FROM MASTER2;
%sql CREATE TABLE Place AS SELECT DISTINCT LIEU, REGION FROM MASTER2;


print("\nContent of the database")
printSchema(conn)

print("\nContent of Wine")
%sql SELECT * FROM Client

Done.
Done.
Done.
Done.
Done.
Done.

Content of the database
Client:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(NUM)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
Place:
  0: LIEU(TEXT)
  1: REGION(TEXT)
Producer:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
Quantity:
  0: NV(NUM)
  1: NP(NUM)
  2: QTE(NUM)
Sale:
  0: NV(NUM)
  1: NB(NUM)
  2: DATES(NUM)
  3: LIEU(TEXT)
  4: QTE(NUM)
Wine:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
achats:
  0: NV(NUM)
  1: NB(NUM)
  2: QTE(NUM)
  3: DATES(NUM)
  4: LIEU(TEXT)
buveurs:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
locations:
  0: LIEU(TEXT)
  1: REGION(TEXT)
producteurs:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
quantite:
  0: NV(NUM)
  1: NP(NUM)
  2: QTE(NUM)
vins:
  0: NV(NUM)
  1: CRU(TEXT)
  2: MILL(NUM)
  3: DEGRE(NUM)

Content of Wine
Done.

[(11, u'Breton', u'Andre', u'petit'),
 (13, u'Barthes', u'Roland', u'moyen'),
 (16, u'Balzac', u'Honore de', u'moyen'),
 (18, u'Celine', u'Louis Ferdinand', u'gros'),
 (20, u'Chateaubriand', u'Francois-Rene de', u'moyen'),
 (21, u'Corbiere', u'Tristan', u'petit'),
 (23, u'Corneille', u'Pierre', u'petit'),
 (25, u'Char', u'Rene', u'petit'),
 (27, u'Dumas', u'Alexandre', u'gros'),
 (29, u'Fournier', u'Alain', u'petit'),
 (32, u'Eluard', u'Paul', u'moyen'),
 (34, u'Mauriac', u'Francois', u'petit'),
 (35, u'Fromentin', u'Eugene', u'gros'),
 (36, u'Maurois', u'Andre', u'petit'),
 (37, u'Freud', u'Sigmund', u'petit'),
 (39, u'Montesquieu', None, u'gros'),
 (42, u'Goethe', u'Johann Wolfgang von', u'moyen'),
 (43, u'Musset', u'Alfred de', u'gros'),
 (46, u'Hugo', u'Victor', u'moyen'),
 (47, u'Gary', u'Romain', u'petit'),
 (51, u'Lafargue', u'Paul', u'petit'),
 (53, u'Lamartine', u'Alphonse de', u'gros'),
 (54, u'Aurele', u'Marc', u'petit'),
 (55, u'Michelet', u'Jules', u'gros'),
 (56, u'Nerval', u'Gerard de', u'petit'),
 (57, u'Marx', u'Karl', u'gros'),
 (59, u'Nietzsche', u'Friedrich', u'petit'),
 (63, u'Maupassant', u'Guy de', u'petit'),
 (64, u'Platon', None, u'gros'),
 (65, u'Pascal', u'Blaise', u'petit'),
 (66, u'Perec', u'Georges', u'gros'),
 (67, u'Nin', u'Anais', u'petit'),
 (68, u'Prevert', u'Jacques', u'gros'),
 (69, u'Queneau', u'Raymond', u'petit'),
 (70, u'Paulhan', u'Jean', u'gros'),
 (71, u'Radiguet', u'Raymond', u'petit'),
 (72, u'Rabelais', u'Francois', u'gros'),
 (73, u'Poe', u'Allan Edgard', u'moyen'),
 (74, u'Rimbaud', u'Arthur', u'petit'),
 (76, u'Racine', u'Jean', u'gros'),
 (77, u'Rousseau', u'Jean-Jacques', u'petit'),
 (78, u'Sandier', u'Jules', u'moyen'),
 (79, u'Sade', u'Donatien Alphonse Fran\xbf\xbfs de', u'gros'),
 (81, u'Sartre', u'Jean-Paul', u'gros'),
 (83, u'Sophocle', None, u'gros'),
 (84, u'Sue', u'Eugene', u'moyen'),
 (85, u'Segalen', u'Victor', u'petit'),
 (86, u'Saint Exupery', u'Antoine de', u'gros'),
 (87, u'Segur', u'Comtesse de', u'gros'),
 (88, u'Shakespeare', u'William', u'petit'),
 (89, u'Stendhal', None, u'petit'),
 (90, u'Vian', u'Boris', u'petit'),
 (91, u'Verlaine', u'Paul', u'gros'),
 (93, u'Virgile', None, u'gros'),
 (95, u'Zorn', u'Fritz', u'moyen'),
 (98, u'Maturin', u'Robert', u'gros'),
 (99, u'Cesar', u'Jules', u'gros'),
 (2, u'Artaud', u'Antonin', u'moyen'),
 (44, u'Gide', u'Andre', u'petit'),
 (45, u'Giono', u'Jean', u'petit'),
 (48, u'Hardy', u'Thomas', u'moyen'),
 (7, u'Anouilh', u'Jean', u'moyen'),
 (49, u'Kafka', u'Franz', u'petit'),
 (8, u'Aragon', u'Louis', u'gros'),
 (50, u'Lautreamont', None, u'moyen'),
 (52, u'Carroll', u'Lewis', u'petit'),
 (3, u'Aron', u'Raymond', u'gros'),
 (4, u'Apollinaire', u'Guillaume', u'moyen'),
 (58, u'Marivaux', u'Pierre Carlet de Chamblain de', u'gros'),
 (1, u'Aristote', None, u'petit'),
 (9, u'Ajar', u'Emile', u'petit'),
 (60, u'Ovide', None, u'gros'),
 (5, u'Audiberti', u'Jacques', u'petit'),
 (10, u'Andersen', u'Yann', u'gros'),
 (61, u'Mallarme', u'Stephane', u'petit'),
 (None, None, None, None),
 (6, u'Arrabal', u'Fernando', u'gros'),
 (62, u'Proust', u'Marcel', u'moyen'),
 (75, u'Ronsard', u'Pierre', u'moyen'),
 (80, u'Sand', u'Georges', u'petit'),
 (82, u'Roussel', u'Rene', u'petit'),
 (100, u'Woolf', u'Virginia', u'petit'),
 (26, u'Diderot', u'Denis', u'moyen'),
 (28, u'Dostoievsky', u'Fiodor', u'gros'),
 (22, u'Cocteau', u'Jean', u'gros'),
 (24, u'Courrier', u'Paul Louis', u'moyen'),
 (30, u'La Fontaine', u'Jean de', u'petit'),
 (12, u'Bataille', u'Georges', u'moyen'),
 (14, u'Bory', u'Jean Louis', u'gros'),
 (15, u'Baudelaire', u'Charles', u'petit'),
 (17, u'Camus', u'Albert', u'petit'),
 (19, u'Ciceron', None, u'gros'),
 (33, u'Flaubert', u'Gustave', u'moyen'),
 (92, u'Verne', u'Jules', u'petit'),
 (31, u'Dante', None, u'gros'),
 (94, u'Zola', u'Emile', u'moyen'),
 (38, u'Montaigne', u'Michel de', u'petit'),
 (96, u'Wilde', u'Oscar', u'petit'),
 (97, u'Vigny', u'Alfred de', u'petit'),
 (40, u'Moliere', None, u'petit'),
 (41, u'Gauthier', u'Theophile', u'petit')]

# PART II: SQL QUERIES

In the second part of this TP you will create SQL queries to retrieve information from the database.

__2.1__ What are the different types of clients (buveurs) by volume of purchases?

In [42]:
%sql SELECT DISTINCT TYPE FROM Client WHERE TYPE <> 'None';

Done.

[(u'petit',), (u'moyen',), (u'gros',)]

__2.2__ What regions produce Pommard or Brouilly?

In [43]:
%%sql SELECT A.CRU, C.REGION  
FROM Wine AS A
INNER JOIN Quantity AS B ON A.NV = B.NV
INNER JOIN Producer AS C ON B.NP = C.NP 
WHERE A.CRU IN ('Pommard', 'Brouilly');

Done.

[(u'Pommard', u'Bourgogne'),
 (u'Pommard', u'Rhone'),
 (u'Brouilly', u'Bourgogne')]

__2.3__ What regions produce Pommard and Brouilly?

In [44]:
%%sql
SELECT C.REGION
FROM Wine AS A
INNER JOIN Quantity AS B ON A.NV = B.NV
INNER JOIN Producer AS C ON B.NP = C.NP
WHERE A.CRU ='Pommard'
intersect
SELECT C.REGION
FROM Wine AS A
INNER JOIN Quantity AS B ON A.NV = B.NV
INNER JOIN Producer AS C ON B.NP = C.NP
WHERE A.CRU ='Brouilly'

Done.

[(u'Bourgogne',)]

__2.4__ Get the number of wines bught by CRU and Millésime

In [45]:
%%sql
SELECT * FROM (
SELECT a.CRU, a.MILL, SUM(b.QTE) AS Number_of_wines_bought
FROM Wine AS a
INNER JOIN Sale AS b ON a.NV = b.NV
GROUP BY a.CRU, a.MILL) WHERE Number_of_wines_bought > 0;

Done.

[(u'Arbois', 1980, 8),
 (u'Auxey Duresses', 1914, 80),
 (u'Beaujolais Primeur', 1983, 7),
 (u'Beaujolais Villages', 1975, 10),
 (u'Beaujolais Villages', 1976, 120),
 (u'Beaujolais Villages', 1978, 130),
 (u'Beaujolais Villages', 1979, 520),
 (u'Chapelle Chambertin', 1973, 30),
 (u'Chateau Corton Grancey', 1980, 4),
 (u'Chenas', 1984, 1),
 (u'Clairette de Die', 1976, 5),
 (u'Cornas', 1980, 25),
 (u'Cote de Brouilly', 1980, 23),
 (u'Coteaux du Tricastin', 1974, 1),
 (u'Coteaux du Tricastin', 1978, 12),
 (u'Cotes de Beaune Villages', 1971, 14),
 (u'Cotes de Beaune Villages', 1975, 96),
 (u'Cotes de Nuits', 1978, 21),
 (u'Cotes de Provence', 1980, 18),
 (u'Etoile', 1980, 9),
 (u'Fleurie', 1980, 7),
 (u'Gentil', 1975, 36),
 (u'Gigondas', 1978, 5),
 (u'Grands Echezeaux', 1968, 31),
 (u'Julienas', 1974, 2),
 (u'Mercurey', 1980, 57),
 (u'Mercurey', 1981, 36),
 (u'Meursault', 1980, 2),
 (u'Monthelie', 1968, 106),
 (u'Pommard', 1972, 23),
 (u'Pommard', 1976, 55),
 (u'Pouilly Vinzelles', 1968, 10),
 (u'Rasteau', 1980, 15),
 (u'Richebourg', 1943, 72),
 (u'Saint Amour', 1974, 80),
 (u'Saint Amour', 1980, 14),
 (u'Savigny les Beaunes', 1974, 44),
 (u'Savigny les Beaunes', 1977, 7),
 (u'Savigny les Beaunes', 1978, 11),
 (u'Seyssel', 1974, 24),
 (u'Seyssel', 1980, 21),
 (u'Tavel', 1980, 33),
 (u'Volnay', 1980, 5)]

__2.5__ Retrieve the wine number (NV) of wines produced by more than three producers

In [67]:
%%sql 
SELECT A.NV , COUNT(A.NP) AS Number_of_producers
FROM Quantity AS A
WHERE A.NV IS NOT NULL
GROUP BY A.NV
HAVING COUNT(A.NP) > 3;

Done.

[(45, 5), (78, 5), (89, 4), (98, 5)]

__2.6__ Which producers have not produced any wine?

Done.

[(3, u'Six', u'Paul'),
 (6, u'Marmagne', u'Bernard'),
 (8, u"Lioger d'Harduy", u'Gabriel'),
 (16, u'Barbin', u'Bernard'),
 (17, u'Faiveley', u'Guy'),
 (18, u'Tramier', u'Jean'),
 (19, u'Dupaquier', u'Roger'),
 (20, u'Lamy', u'Jean'),
 (21, u'Cornu', u'Edmond'),
 (26, u'Violot', u'Gilbert'),
 (28, u'Monnier', u'Rene'),
 (29, u'de Suremain', u'Robert'),
 (31, u'Prudhon', u'Henri'),
 (32, u'Mestre', u'Philippe'),
 (33, u'Prieur', u'Guy'),
 (34, u'Monnier', u'Rene'),
 (37, u'Delagrange Bachelet', None),
 (39, u'de Suremin', u'Hugues'),
 (41, u'Juillot', u'Michel'),
 (44, u'Feyveley', None),
 (47, u'Thenard', None),
 (48, u'Flamand', None),
 (49, u'Guillot', u'Pierre'),
 (51, u'Simonet', u'Leon'),
 (53, u'Cooperative', None),
 (57, u'Desmules', u'Pierre'),
 (58, u'Joubert', u'Claude'),
 (61, u'Champier', u'Charles'),
 (62, u'Champagnon', u'Louis'),
 (66, u'Cooperative', None),
 (77, u'Tissot', u'Andre'),
 (83, u'Goy', None),
 (91, u'Chave', u'Gerard'),
 (92, u'De Boissieu', None),
 (94, u'Grippat', u'Jean Louis'),
 (96, u'Boisson', u'Jean Pierre'),
 (97, u'Quiot', u'Pierre'),
 (100, u'Bernard', u'Georges'),
 (101, u'Verdan', u'Antoine'),
 (102, u'Cooperative', None),
 (103, u'Coulouvrat', u'Michel'),
 (104, u'Rabasse Chavarin', u'Abel'),
 (105, u'Roux', u'Charles'),
 (106, u'Alary', None),
 (108, u'Archimbaud', u'Jean'),
 (109, u'Rey', u'Marcel'),
 (110, u'Cooperative', None),
 (111, u'Zafiropulo', u'Costa'),
 (112, u'Prebost', u'Gaston'),
 (113, u'Gomez', u'Rene'),
 (114, u'Brunet', u'Georges'),
 (115, u'Bordonado', u'Raymond'),
 (116, u'Imbert', u'Christian'),
 (117, u'Cooperative', None),
 (118, u'Cooperative', None),
 (119, u'Cooperative', None),
 (121, u'Cooperative', None),
 (122, u'Dupuy', u'Charles'),
 (123, u'Laurent', u'Pierre'),
 (124, u'Daurat Fort', u'Robert'),
 (125, u'Baldes', u'Jean'),
 (126, u'Jouffreau', u'Jean'),
 (127, u'Brumont', u'Alban'),
 (129, u'Barrere', u'Alfred')]

In [55]:
%%sql SELECT A.NOM, A.PRENOM
FROM Producer AS A
INNER JOIN Quantity AS B ON A.NV = B.NV
INNER JOIN Producer AS C ON B.NP = C.NP
WHERE C.QTE IN 'None'

(sqlite3.OperationalError) no such table: None [SQL: u"SELECT A.NOM, A.PRENOM\nFROM Producer AS A\nINNER JOIN Quantity AS B ON A.NV = B.NV\nINNER JOIN Producer AS C ON B.NP = C.NP\nWHERE C.QTE IN 'None'"]

__2.7__ What clients (buveurs) have bought at least one wine from 1980?

Done.

[(2, u'Artaud', u'Antonin'),
 (8, u'Aragon', u'Louis'),
 (44, u'Gide', u'Andre'),
 (45, u'Giono', u'Jean'),
 (50, u'Lautreamont', None),
 (61, u'Mallarme', u'Stephane')]

__2.8__ What clients (buveurs) have NOT bought any wine from 1980?

Done.

[(1, u'Aristote', None),
 (3, u'Aron', u'Raymond'),
 (4, u'Apollinaire', u'Guillaume'),
 (5, u'Audiberti', u'Jacques'),
 (6, u'Arrabal', u'Fernando'),
 (7, u'Anouilh', u'Jean'),
 (9, u'Ajar', u'Emile'),
 (10, u'Andersen', u'Yann'),
 (11, u'Breton', u'Andre'),
 (12, u'Bataille', u'Georges'),
 (13, u'Barthes', u'Roland'),
 (14, u'Bory', u'Jean Louis'),
 (15, u'Baudelaire', u'Charles'),
 (16, u'Balzac', u'Honore de'),
 (17, u'Camus', u'Albert'),
 (18, u'Celine', u'Louis Ferdinand'),
 (19, u'Ciceron', None),
 (20, u'Chateaubriand', u'Francois-Rene de'),
 (21, u'Corbiere', u'Tristan'),
 (22, u'Cocteau', u'Jean'),
 (23, u'Corneille', u'Pierre'),
 (24, u'Courrier', u'Paul Louis'),
 (25, u'Char', u'Rene'),
 (26, u'Diderot', u'Denis'),
 (27, u'Dumas', u'Alexandre'),
 (28, u'Dostoievsky', u'Fiodor'),
 (29, u'Fournier', u'Alain'),
 (30, u'La Fontaine', u'Jean de'),
 (31, u'Dante', None),
 (32, u'Eluard', u'Paul'),
 (33, u'Flaubert', u'Gustave'),
 (34, u'Mauriac', u'Francois'),
 (35, u'Fromentin', u'Eugene'),
 (36, u'Maurois', u'Andre'),
 (37, u'Freud', u'Sigmund'),
 (38, u'Montaigne', u'Michel de'),
 (39, u'Montesquieu', None),
 (40, u'Moliere', None),
 (41, u'Gauthier', u'Theophile'),
 (42, u'Goethe', u'Johann Wolfgang von'),
 (43, u'Musset', u'Alfred de'),
 (46, u'Hugo', u'Victor'),
 (47, u'Gary', u'Romain'),
 (48, u'Hardy', u'Thomas'),
 (49, u'Kafka', u'Franz'),
 (51, u'Lafargue', u'Paul'),
 (52, u'Carroll', u'Lewis'),
 (53, u'Lamartine', u'Alphonse de'),
 (54, u'Aurele', u'Marc'),
 (55, u'Michelet', u'Jules'),
 (56, u'Nerval', u'Gerard de'),
 (57, u'Marx', u'Karl'),
 (58, u'Marivaux', u'Pierre Carlet de Chamblain de'),
 (59, u'Nietzsche', u'Friedrich'),
 (60, u'Ovide', None),
 (62, u'Proust', u'Marcel'),
 (63, u'Maupassant', u'Guy de'),
 (64, u'Platon', None),
 (65, u'Pascal', u'Blaise'),
 (66, u'Perec', u'Georges'),
 (67, u'Nin', u'Anais'),
 (68, u'Prevert', u'Jacques'),
 (69, u'Queneau', u'Raymond'),
 (70, u'Paulhan', u'Jean'),
 (71, u'Radiguet', u'Raymond'),
 (72, u'Rabelais', u'Francois'),
 (73, u'Poe', u'Allan Edgard'),
 (74, u'Rimbaud', u'Arthur'),
 (75, u'Ronsard', u'Pierre'),
 (76, u'Racine', u'Jean'),
 (77, u'Rousseau', u'Jean-Jacques'),
 (78, u'Sandier', u'Jules'),
 (79, u'Sade', u'Donatien Alphonse Fran\xbf\xbfs de'),
 (80, u'Sand', u'Georges'),
 (81, u'Sartre', u'Jean-Paul'),
 (82, u'Roussel', u'Rene'),
 (83, u'Sophocle', None),
 (84, u'Sue', u'Eugene'),
 (85, u'Segalen', u'Victor'),
 (86, u'Saint Exupery', u'Antoine de'),
 (87, u'Segur', u'Comtesse de'),
 (88, u'Shakespeare', u'William'),
 (89, u'Stendhal', None),
 (90, u'Vian', u'Boris'),
 (91, u'Verlaine', u'Paul'),
 (92, u'Verne', u'Jules'),
 (93, u'Virgile', None),
 (94, u'Zola', u'Emile'),
 (95, u'Zorn', u'Fritz'),
 (96, u'Wilde', u'Oscar'),
 (97, u'Vigny', u'Alfred de'),
 (98, u'Maturin', u'Robert'),
 (99, u'Cesar', u'Jules'),
 (100, u'Woolf', u'Virginia')]

__2.9__ What clients (buveurs) have bought ONLY wines from 1980?

Done.

[(44, u'Gide', u'Andre'), (45, u'Giono', u'Jean'), (50, u'Lautreamont', None)]

__2.10__ List all wines from 1980

In [24]:
%sql \
SELECT * \
FROM vins \
WHERE MILL=1980 \
ORDER BY NV asc;

Done.

[(1, u'Mercurey', 1980, 11.5),
 (4, u'Mercurey', 1980, 10.9),
 (16, u'Meursault', 1980, 12.1),
 (20, u'Cote de Brouilly', 1980, 12.1),
 (26, u'Chateau Corton Grancey', 1980, None),
 (28, u'Volnay', 1980, 11),
 (43, u'Fleurie', 1980, 11.4),
 (74, u'Arbois', 1980, 12),
 (78, u'Etoile', 1980, 12),
 (79, u'Seyssel', 1980, 11),
 (80, u'Seyssel', 1980, 11),
 (81, u'Cornas', 1980, 11.1),
 (82, u'Cornas', 1980, 11),
 (83, u'Saint Amour', 1980, 10),
 (84, u'Rasteau', 1980, 10),
 (85, u'Tavel', 1980, 11),
 (86, u'Tavel', 1980, 11),
 (87, u'Cotes de Provence', 1980, None)]

__2.11__ What are the wines from 1980 bought by NB=2?

Done.

[(1, 2, u'1977-11-02', u'BORDEAUX', 33, u'Mercurey', 1980, 11.5)]

__2.12__ What clients (buveurs) have bought ALL the wines from 1980?

Done.

[(44, u'Gide', u'Andre')]